.users_main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.theadssss{
    padding: 35px;
    /* background-color: black; */

}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers th {
    padding-top: 12px;    
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(24, 144, 192);
    color: white;
  }
  #customers tr:nth-child(odd){background-color: #f2f2f2;}
  #customers tr:hover {background-color: #ddd;}


  .action_btn{
    padding: 4px;
    background-color: rgb(228, 42, 42);
    border: none;
    border-radius: 3px;
    width: 70px;
    color: white;
  }